.app {
  display: flex;
  /* justify-content: space-evenly; */
  height: calc(100vh - 40px);
  padding: 20px;
  background: #e7e7e7e7;
}

.users-container {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: pink;
  border-radius: 6px;
  margin-right: 10px;
}

.user-item {
  cursor: pointer;
  margin: 4px;
  background: rgb(248, 152, 168);
  border-radius: 10px;
  width: 90%;
  text-align: center;
  padding: 10px;
}

.conversations-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(136, 138, 250);
  border-radius: 6px;
  margin-right: 10px;
}

.btn-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.button {
  font-size: 10px;
  background: rgb(72, 74, 177);
  border: none;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.conversation-item {
  cursor: pointer;
  margin: 4px;
  background: rgb(111, 113, 253);
  border-radius: 10px;
  width: 90%;
  text-align: center;
  padding: 10px;
}

.messages-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background: rgb(144, 252, 168); */
  border-radius: 6px;
  margin-right: 10px;
  position: relative;
  overflow: auto;
}

.messages-container div {}

.messages-item {
  text-align: left;
  padding: 10px;
  background: rgb(0, 255, 57);
  margin: 10px;
  border-radius: 10px;
}

.sender {
  text-align: right !important;
  background: rgb(104, 104, 104);
}

.new-msg-wrapper {
  display: flex;
  width: 90%;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 10px;
  position: sticky;
  bottom: 0;
}

.new-msg-wrapper input {
  flex-grow: 5;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgb(172, 172, 172);
}

.new-msg-wrapper button {
  flex-grow: 2;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgb(0, 153, 255);
  color: white;
  font-size: 20px;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  /* background: red; */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-wrapper {
  width: 100vw;
  height: 100vh;
  background: #d6dbd6c2;
  position: absolute;
}

.model-content {
  width: 200px;
  padding: 8px;
  background: white;
  position: absolute;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.model-content button {
  width: 90%;
  background: rgb(0, 153, 255);
  padding: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin-top: 10px;
}

.model-content select {
  width: 90%;
  align-self: center;
  margin-top: 15px;
  max-height: 100px;
}

.model-content input {
  width: 90%;
  border: none;
  background: rgb(172, 172, 172);
  border-radius: 6px;
  padding: 8px;
  text-align: center;
}